<div class="row">
  <div class="col-6" *ngIf="(book | async) as b; else loading">
    <div class="book paper">
      <div><span class="bold">Title: </span>{{b.title}}</div>
      <div><span class="bold">Author: </span><a [routerLink]="['/author', b.author.id]" routerLinkActive="active">{{b.author.name}}</a>
      </div>
      <div><span class="bold">Genre: </span>{{b.genre.name}}</div>
      <div><span class="bold">Description: </span>{{b.description}}</div>
    </div>

    <div class="back" (click)="routeBack()">←</div>

    <ng-template #loading>
      Loading...
    </ng-template>
  </div>
</div>

<router-outlet></router-outlet>
