/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  padding: 2rem;
}

.bold {
  font-weight: bold;
}

.book__list {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc8c8;
  padding: 1rem;
  min-height: 250px;
}

.book__author {
  margin-top: auto;
  margin-left: auto;
}

.book__search {
  margin: 2rem 0;
}

.ng-select .ng-select-container {
  border-radius: 0;
}

.paper {
  background-color: #fff;
  position: relative;
  padding: 30px;
}

.paper,
.paper::before,
.paper::after {
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

/* Second sheet of paper */
.paper::before {
  left: 7px;
  top: 5px;
  z-index: -1;
}

/* Third sheet of paper */
.paper::after {
  left: 12px;
  top: 10px;
  z-index: -2;
}

.back {
  position: fixed;
  top: .5rem;
  left: .5rem;
  font-size: 34px;
  font-weight: 200;
  cursor: pointer;
}

.book__title {
  margin-top: 1rem;
}

.ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option {
  display: flex;
  flex-direction: column;
}

.ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option small {
  font-weight: bold;
  margin-bottom: .5rem;
}
